body {
    font-family: sans-serif;
    background: rgba(95, 179, 126, 0.81);
}

ul {
    list-style: none;
    margin: 0 auto;
    max-width: 780px;
    text-align: center;
    padding: 0;
    display: block;
}

.hide {
    display: none;
}